Unit]
Description=webpoker

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=mvn exec:java -Dexec.mainClass=uta.cse3310.App
WorkingDirectory=/home/fa2022_group2

[Install]
WantedBy=multi-user.target

